<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <title>Mon Application</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid" style="margin-top: 10px">

  <form class="table-row header" action="/ajout" method="POST" id="ajout">
      <input type="text" class="text" name="nom" value="Nom"></input>
    <input type="text" class="text" name="prenom" value="Prénom"></input>
    <input type="text" class="text" name="telephone" value="Téléphone"></input>
    <input type="text" class="text" value=""></input>
    <input type="text" class="text" value=""></input>
<div class="text"><button type="submit">+</button></div>
      

</div>
<script type="text/javascript" src="script/client.js"></script>
</body>

</html>